extends ./layout/index

block content
    main.main-content.container
        h2 Our Blog
        section.blog-container
            .blog
                each blog in blogs
                    article.blog-article
                        h3= blog.title
                        .img-blog
                            img(src=`${blog.image}` alt=`${blog.title}`)
                        .meta
                            p
                                | Date: 
                                span= blog.date
                            p
                                | Author: 
                                span= blog.author
                        p.blog-text
                            | #{blog.content}
                        .btn-blog
                            a.btn(href='#') Read More
            aside.aside
                h3 Other Blog Posts
                ul
                    li
                        a(href='#') The Evolution of Guitar: From Classical to Modern
                    li
                        a(href='#') Optimizing Your Guitar&apos;s Playability and Tone
                    li
                        a(href='#') Unleashing Creative Soundscapes with Pedal Magic
                    li
                        a(href='#') Famous Guitars in Rock History: Icons and Legends

