extends ./layout/index

block content
    main.main-content.container
        h2 Explore Our Products
        .list-products-shop
            each guitar in guitars
                article.product-shop
                    img.product-img(src=`${guitar.image}` alt=`${guitar.name}`)
                    .product-shop-text
                        h3= guitar.name
                        p= guitar.description
                        p.product-price
                            strong Price:
                            |  $#{guitar.price}
                        a.btn.add-to-cart(href='#') Add to Cart

    .lds-ring
        div
        div
        div
        div
