extends layout

block content
    h1.text-center.my-4 #{title} 
    if tasks.length
        table.table.text-center
            thead
                tr
                    th id
                    th Task
                    th Status
                    th Actions
            tbody
                each task in tasks
                    tr
                        th(scope='row') #{task.id}
                        td 
                            p(class=task.done ? "completed" : "") #{task.name}
                        td #{task.done ? "Completed" : "Pending"}
                        td
                            if task.completed
                                a.uncomplete-button.text-decoration-none(href=`/uncomplete/${task.id}`) Unmark
                            else
                                a.complete-button.text-decoration-none(href=`/complete/${task.id}`) Complete
                            a.delete-button.text-decoration-none(href=`/delete/${task.id}`) Delete
                            a.edit-button.text-decoration-none(href=`/edit/${task.id}`) Edit
    else            
        li No tasks
